<h1>{{title}}</h1>
<hr>
<h2>Route params y Query Strings</h2>
<p>Haz click <a href="/tienda/temporada/verano/prenda/pantalones?color=rojo&size=M">en este enlace</a> para
    acceder a <code>/tienda/temporada/verano/prenda/pantalones?color=rojo&size=M</code></p>


<p>Aquí hay más ejemplos: <a href="/tienda/temporada/invierno/prenda/camisetas?color=azul&size=XXL">enlace</a>, <a
        href="/tienda/temporada/verano/prenda/pantalones?color=todos&size=S">enlace</a>y <a
        href="/tienda/temporada/otoño/prenda/shorties?color=verdes&size=todas">enlace</a> </li>

<p>Aquí puedes usar <a href="/tienda/buscar">un formulario de búsqueda de prendas por GET</a></p>
</p>

<hr>

<h2>Request body</h2>
<p>Aquí puedes usar <a href="/zona-cliente/login">un formulario de inicio de sesión por POST</a></p>