<h1>Resultado de la búsqueda</h1>

<p>Mostrando resultados de prendas de tipo {{clothes}} y talla {{size}}, de color {{color}}</p>

<small>Aqui ya pones los resultados de la BBDD y eso</small>

<p><a href="/tienda/buscar">Volver al formulario</a></p>