<h1>Iniciar sesión</h1>

<p>Este formulario, con <code>method</code> POST, envía los resultados al mismo endpoint que lo renderiza</p>

<hr>

<form action="/zona-cliente/login" method="POST">

    <label>
        Usuario:
        <input type="text" name="username">
    </label><br><br>
    <label>
        Contraseña:
        <input type="password" name="pwd">
    </label><br><br>

    <input type="submit" value="Iniciar sesión">

</form>