<h1>Resultados de inicio de sesión</h1>
<p>El objeto <code>req.body</code>, presente en las peticiones de tipo POST, contiene los datos enviados por formularios
    de tipo
    POST:</p>
<hr>
<p>Usuario: {{username}}</p>
<p>Contraseña: {{pwd}}</p>